<%= link_to 'See All the Blog Posts', blogs_path %>  
<h1>Blog <%= @one_post.id %></h1>
<h3><%= @one_post.title %></h3>
<h3><%= @one_post.content %></h3>

<%= button_to 'Delete this blog post', destroy_path(@one_post), method: :delete %>